

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.wrap{
    display: flex;
    justify-content: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background: #14303c;
    color: white;
    height: 400px;
    width: 400px;
    padding: 1.5rem;
    justify-content: space-between;
}

form > *{
    display: flex;
    justify-content: center;
}

form > div input{
    width: 100%;
}

form *[type="text"]{
    height: 2rem;
    padding: 0.5rem;
    color: inherit;
    background-color: #14303c;
    border: 1px solid #808f95;
    font-size: 0.9rem;

}


form *[type="button"]{
    height: 3rem;
    color: inherit;
    background-color: #1ab188;
    border: 0;
    font-size: 0.9rem;
}

form *[type="button"]:hover{
    background-color: #1ac4a3;

}

form *[type="button"]:disabled{
    background-color: #435259;
    color: #a4aead;
}

.div-name {
    margin-right: 1rem;
}

#get-started{
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}

.wrap-input{
    position: relative;
    display: inline-block;
}

.wrap-input label{
    position: absolute;
    left: 0.5em;
    top: 50%;
    margin-top: -0.5em;
    color: #8b959f
}

.wrap-input > input[type=text]:focus + label {
    display: none;
}

.placeholder-label:hover{
    cursor: text;
}


.placeholder-label:after{
    content: "*";
    color: #1ab188
}